@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 700;
  user-select: none;
  transition: all 0.5s ease;
}

:root {
  --main-background: hsl(222, 26%, 31%);
  --toggle-or-keypad-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);
  --calc-or-bullet-background: hsl(6, 63%, 50%);
  --calc-shadow: hsl(6, 70%, 34%);
  --nums-color: hsl(221, 14%, 31%);
  --White: hsl(0, 0%, 100%);

  --theme2-main-background: hsl(0, 0%, 90%);
  --theme2-toggle-background-or-keypad-background: hsl(0, 5%, 81%);
  --theme2-screen-background: hsl(0, 0%, 93%);
  --theme2-reset-background: hsl(185, 42%, 37%);
  --theme2-reset-shadow: hsl(185, 58%, 25%);
  --theme2-calc-background-or-toggle: hsl(25, 98%, 40%);
  --theme2-calc-shadow: hsl(25, 99%, 27%);
  --theme2-nums-background: hsl(45, 7%, 89%);
  --theme2-nums-shadow: hsl(35, 11%, 61%);
  --theme2-color: hsl(60, 7%, 14%);
  --theme3-nums-color: hsl(52, 100%, 62%);
  --theme2-nums-color: hsl(198, 20%, 13%);

  --theme3-main-background: hsl(268, 75%, 9%);
  --theme3-toggle-background-or-keypad-background-or-screen-background: hsl(
    268,
    71%,
    12%
  );
  --theme3-reset-background: hsl(281, 89%, 26%);
  --theme3-reset-shadow: hsl(285, 91%, 52%);
  --theme3-calc-background-or-toggle: hsl(176, 100%, 44%);
  --theme3-calc-shadow: hsl(177, 92%, 70%);
  --theme3-nums-background: hsl(268, 47%, 21%);
  --theme3-nums-shadow: hsl(290, 70%, 36%);
}

body {
  background-color: var(--main-background);
  font-family: 'League Spartan', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 350px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading label {
  color: var(--White);
  font-size: 20px;
}

.heading div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.heading div p {
  transform: translateY(6px);
  color: var(--White);
  font-size: 11px;
}

.heading .toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.heading .toggle-container div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: unset;
}

.heading .toggle-container div span {
  font-size: 9.5px;
  color: var(--White);
}

.heading .toggle-container .toggle {
  position: relative;
  background-color: var(--toggle-or-keypad-background);
  width: 60px;
  height: 18px;
  border-radius: 10px;
}

.heading .toggle-container .toggle .bullet {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  top: 2px;
  left: 3.5px;
  background-color: var(--calc-or-bullet-background);
  cursor: pointer;
}

#calcInput {
  outline: none;
  border: none;
  width: 100%;
  padding: 20px 15px;
  border-radius: 5px;
  background-color: var(--screen-background);
  color: var(--White);
  text-align: right;
  font-size: 40px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 20px;
  background-color: var(--toggle-or-keypad-background);
  border-radius: 5px;
}

.btn {
  border-radius: 5px;
  outline: none;
  border: none;
  height: 35px;
  width: 60px;
  margin: 0 auto;
  font-size: 25px;
  color: var(--nums-color);
  cursor: pointer;
  box-shadow: 0 2px 2px var(--theme2-nums-shadow);
}

.btn:hover {
  opacity: 0.6;
}

.reset,
.calc {
  grid-column: span 2;
  width: 140px;
}

.reset,
.del,
.calc {
  font-size: 18px;
}

.reset,
.del {
  background-color: hsl(222deg 62.43% 73.17%);
  color: var(--White);
  letter-spacing: 2px;
  box-shadow: 0 2px 2px var(--main-background);
}

.calc {
  background-color: hsl(6deg 100% 66.89%);
  color: var(--White);
  box-shadow: 0 2px 2px var(--calc-or-bullet-background);
}
